* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: #2e3238;
  color: #cdcdcd;

  /* For dev mode */
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.app {
  /* max-width: 430px; */
  width: 430px;
  height: 930px;
  padding: 5px;
  padding-top: 20px;
  border: 1px solid #4e4e4e;
}


.box_header {
  margin-top: 35px;
  margin-bottom: 25px;
  color: #37af73;
  font-size: 20px;
}

.parameter_box {
  display: flex;
  align-items: center;
  /* justify-content: space-between; */
  width: 100%;
  border: 1px solid rgba(78, 78, 78, 0.7);
  border-radius: 10px;
  padding: 10px;
  margin-bottom: 15px;
  color: #b9b8b8;
}

.parameters {
  width: 97%;
  display: flex;
  align-items: center;
  justify-content: left;

}

.label {
  margin-right: 10px;
}

.information {
  width: 20px;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid gray;
  border-radius: 50%;
}